<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 vertical-col-divider blog-col wow">
  <div class="col-inner">
    <div class="vertical-blog-line"></div>
    <h1> {{ post.title }} </h1>
    <p>{{post.showcase}}</p>
    <h3 class="release-date">{% assign d = post.date | date: "%-d" %}{{ post.date | date: "%B" }}{% case d %}{% when "1" or "21" or "31" %} {{ d }}st{% when "2" or "22" %} {{ d }}nd{% when "3" or "23" %} {{ d }}rd{% else %} {{ d }}th{% endcase %}, {{ post.date | date: "%Y" }}</h3>
    <a href="{{post.url}}" class="btn btn-default btn-standart btn-blog btn-see-through">Read more</a>
  </div>
</div> <!-- /col -->