
  <section class="blog anchor" id="blog">
    <div class="section-header"><h3>blog</h3></div>
    <div class="row row-eq-height">
      
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 vertical-col-divider blog-col wow">
          <div class="col-inner">
            <div class="vertical-blog-line"></div>
            <h1> This is a blogpost </h1>
            <p>Minions ipsum aaaaaah gelatooo po kass bee do bee do bee do tank yuuu! Uuuhhh hana dul sae ti aamoo! La bodaaa. Bee do bee do bee do ti aamoo!</p>
            <h3 class="release-date">September 3rd, 2015</h3>
            <div class="btn btn-default btn-standart btn-blog">Read more</div>
          </div>
        </div> <!-- /col -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 vertical-col-divider blog-col wow">
          <div class="col-inner">
            <div class="vertical-blog-line"></div>
            <h1> This is a blogpost </h1>
            <p>Minions ipsum aaaaaah gelatooo po kass bee do bee do bee do tank yuuu! Uuuhhh hana dul sae ti aamoo! La bodaaa. Bee do bee do bee do ti aamoo!</p>
            <h3 class="release-date">September 3rd, 2015</h3>
            <div class="btn btn-default btn-standart btn-blog">Read more</div>
          </div>
        </div> <!-- /col -->


        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 vertical-col-divider blog-col wow">
          <div class="col-inner">
            <div class="vertical-blog-line"></div>
            <h1> This is a blogpost </h1>
            <p>Minions ipsum aaaaaah gelatooo po kass bee do bee do bee do tank yuuu! Uuuhhh hana dul sae ti aamoo! La bodaaa. Bee do bee do bee do ti aamoo!</p>
            <h3 class="release-date">September 3rd, 2015</h3>
            <div class="btn btn-default btn-standart btn-blog">Read more</div>
          </div>
        </div> <!-- /col -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 vertical-col-divider blog-col wow">
          <div class="col-inner">
            <div class="vertical-blog-line"></div>
            <h1> This is a blogpost </h1>
            <p>Minions ipsum aaaaaah gelatooo po kass bee do bee do bee do tank yuuu! Uuuhhh hana dul sae ti aamoo! La bodaaa. Bee do bee do bee do ti aamoo!</p>
            <h3 class="release-date">September 3rd, 2015</h3>
            <div class="btn btn-default btn-standart btn-blog">Read more</div>
          </div>
        </div> <!-- /col -->
  
    </div> <!-- /row -->
    <div class="btn-frame-centered wow-standart">
      <a class="btn btn-default btn-standart btn-centered" href="/blog/">Read more recent blog posts</a>
    </div>
  </section>

  <section class="twitter anchor" id="twitter">
    <div class="twitter-frame">
      
      <div id="twitter-posts"></div>
      <!-- https://github.com/jasonmayes/Twitter-Post-Fetcher -->
      
    </div>
    <div class="btn-frame-centered btn-frame-centered-twitter">
      <a class="btn btn-default btn-standart btn-centered btn-tweets" href="https://twitter.com/derKroggel" target="_blank">More Tweets</a>
    </div>
  </section>