<section class="about wow-standart anchor" id="about">
  <div class="section-header">
    <h3>about</h3>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 cols">
      <div>
        <h1>{{page.header.first_line}}</h1>
      </div>
      <div class="about-italic">
        <h1>{{page.header.second_line}}</h1>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 cols">
      <div class="text">
        <p>
        {{content}}
        </p>
      </div> <!-- /text -->
      <a href="/about/" class="btn btn-default btn-standart">
        more about me
      </a>
    </div> <!-- /col -->
  </div> <!-- /row -->
</section>