  <section class="blog anchor" id="blog">
    <div class="section-header"><h3>blog</h3></div>
    <div class="row row-eq-height">
        
        {% for post in site.posts | limit: 4 %}
        {% include overview-posts-featured.html %}
        {% endfor %}
        
    </div> <!-- /row -->
    <div class="btn-frame-centered wow-standart">
      <a class="btn btn-default btn-standart btn-centered" href="/blog/">Read more recent blog posts</a>
    </div>
  </section>

  <section class="twitter anchor" id="twitter">
    <div class="twitter-frame">
      <div id="twitter-posts"></div>
      <!-- https://github.com/jasonmayes/Twitter-Post-Fetcher -->
    </div>

    <!-- Big Bar underneath the twitter cols with a button which redirects to my twitter account -->
    <!-- <div class="btn-frame-centered btn-frame-centered-twitter">
      <a class="btn btn-default btn-standart btn-centered btn-tweets" href="https://twitter.com/derKroggel" target="_blank">More Tweets</a>
    </div> -->
  </section>
