{% assign post = page %}
{% if post.tags.size > 0 %}
  {% for post_tag in post.tags %}
    {% for data_tag in site.data.tags %}
      {% if data_tag.slug == post_tag %}
        {% assign tag = data_tag %}
      {% endif %}
    {% endfor %}
    {% if tag %}
      {% capture tags_content_temp %}{{ tags_content }}<a href="/blog/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% endcapture %}
      {% assign tags_content = tags_content_temp %}
    {% endif %}
  {% endfor %}
{% else %}
  {% assign tags_content = '' %}
{% endif %}

<section class="blog-posts">
  <h5>{% assign d = post.date | date: "%-d" %}{{ post.date | date: "%b %d" }} · {{ post.date | date: "%Y" }}</h5>
  {%if page.author%}
  <h5>by {{page.author}}</h5>
  {% endif %}
  <div class="blog-posts--title"><h1 class="posts-title">{{ page.title }}</h1></div>
  <div class="blog-posts--tags">
      <p>{{ tags_content | replace: '/blog/tag/work/', '/work/' }}</p>
  </div>
  <div class="blog-posts--content">
    {{content}}  
  </div>
  
</section>