<div id="circulo">
  <div id="chapeu" class="absoluto"></div>
  <div id="gorro" class="absoluto"></div>
  <div id="cabeca" class="absoluto">
    <div id="olho" class="absoluto"></div>
    <div id="nariz" class="absoluto"></div>
    <div id="boca" class="absoluto"></div>
  </div>
  <div id="barba" class="absoluto"></div>
  <div id="braco-esquerdo" class="absoluto">
    <div id="dedo-esquerdo" class="absoluto"></div>
  </div>
  <div id="braco-direito" class="absoluto"></div>
  <div id="corpo" class="absoluto"></div>
  <div id="saco" class="absoluto"></div>
</div>