
.one-picture {
  &:before {
    display: none;
  }
  height: 100%;
  @media(min-width: 768px){
    &:before {
      display: block;
      content:"";
      //background: url("../img/page/index/404.jpg") no-repeat center;
      //background-size: cover;
      position: fixed;
      z-index: -1;
      overflow: hidden;
      //filter: grayscale(50%) blur(2px) brightness(140%);
      //-webkit-filter: grayscale(50%) blur(2px) brightness(140%);
      width: calc(100% - 30px);
      height: calc(100% - 30px);
    }
  }
}

.one-picture>.inner {
  position: relative;
  margin: 0 50px;
  padding-top: 50px;
  h1 {
    margin: 0;
    padding-bottom: 15px;
  }
  p {
    width: 100%;
    @media(min-width: 768px){
      width: 75%;
    }
    @media(min-width: 992px){
      width: 50%;
    }
  }
  .one-picture--btn-frame {
    text-align: center;
    @media (min-width: 768px){
    text-align: left;
    } 
  }
  .btn-one-picture {
    color: white;
    border-color: white;
    margin: 0 5px 10px;
    @media(min-width: 768px) {
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  .btn-standart:hover,
  .btn-standart:active,
  .btn:focus,
  form input.btn-standart:hover, {
    background-color: white;
    color: black;
  }
}

.one-picture>.ending {
  margin-top: 150px;
  @media(min-width: 768px) {
    margin: 0 65px;
    bottom: 30px;
    position:fixed;
    left: 0;
    right: 0;
  }
  .photographer {
    text-align: center;
    a:hover,
    a:visited,
    a:focus {
      text-decoration: none;
    }
  }
  svg {
    fill: white;
  }
  .copyright h1 {
    margin-bottom: 0;
    padding-bottom: 10px;
    @media(min-width:768px) {
      padding-bottom: 0;
      margin-bottom: 10px;
    }
  }
  .footer--nav,
  a,
  h1 {
    color: white;
  }
  @media (min-width: 768px) {
    .footer--main,
    .copyright>h1,
    .photographer {
      text-align: left;
    }
  }
}