/* 0.1. BODY
   ========================================================================== */

body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row {
  padding: 0;
  margin: 0;
}

.cols {
  padding: 0;
}

.anchor {
  padding-top: 50px;
}

@media (min-width: 768px) {
  body {
    margin: 15px;
  }
}

@media  (min-width: 992px) {
  .anchor {
    padding-top: 30px;
  }
}

.dropdown-menu {
  border: 2px solid black;
  border-radius: 0;
  width: 100%;
  padding: 15px 0;
}

.dropdown-toggle {
  margin-bottom: 5px;
}


// workaround for safari problems --> displaying the blog section
@media (min-width: 768px) {
  .col-sm-6 {
    width: 49.9%
  }
}

@media (min-width: 992px) {
  .col-md-6 {
    width: 49.9%
  }
}

@media (min-width: 1200px) {
  .col-lg-6 {
    width: 49.9%
  }
}

