/* 0.2 FONTS
   ========================================================================== */


.nav>li>a,
.dropdown a {
  font-size: 18px;
  text-transform: uppercase;
  color: black;
  font-family: $primary-nav-font;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 3px 6px;
  border: 2px solid white;
}

.nav>li>a:hover,
.nav>li>a:active,
.nav>li>a:visited,
.nav>li:active,
.nav .open>a, 
.nav .open>a:focus,
.nav .open>a:hover {
  background-color: rgba(255, 255, 255, 0.0);
}

.nav>li>a:hover,
.nav .open>a, 
.nav .open>a:focus,
.nav .open>a:hover {
  border-color: black;
  padding: 3px 6px;
  line-height: 20px;
  -webkit-transition: border-color 0.4s;
  -moz-transition: border-color 0.4s;
  transition: border-color 0.4s;
}

.dropdown-menu li a {
  border: none;
  padding: 5px 20px;
  color: white;
}

.dropdown-menu>li>a:hover {
  background-color: white;
  color: $main-color;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.big-picture h1 {
  font-family: $primary-text-font;
  font-size: 20px;
  font-weight: 300;
  color: white;
  @media (min-width: 768px) {
    margin: 0;
    line-height: 1.4;
  }
}

.section-header h3,
.about > .section-header h3,
.blog h3,
h3.year-date,
p.timePosted,
.blog-posts h5,
.blog--featured h3,
form label,
.big-picture .photographer a {
  font-family: $primary-nav-font;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(109, 109, 109, 0.8);
  font-size: 14px;
  margin: 40px 0 10px;
}

.big-picture .photographer a {
  color: white;
  font-size: 10px;
  &:hover {
    text-decoration: none;
  }
}

h3.year-date {
  margin: 0;
}

p.timePosted {
  margin: 20px 0 0;
}

.blog-posts h5:last-of-type {
  margin-bottom: 10px;
  margin-top: 0px;
}

.blog-posts h5:first-of-type {
  margin-top: 20px;
  margin-bottom: 5px;
}

.blog-posts h5 {
  font-size: 10px;
  @media (min-width: 768px) {
    font-size: 11px;
  }
}

.section-header h3 {
  margin-left: 20px;
  margin-right: 20px;
  @media (min-width: 768px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.about h1 {
  font-family: $readable;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin: 0;
}

.about-italic h1 {
  font-family: $readable;
  font-weight: 700;
  font-style: italic;
}

.text p,
.blog p,
.work p,
.twitter p,
.blog--featured p {
  font-family: $primary-text-font;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: 0.01em;
}

.blog p,
.blog--featured p {
  margin-bottom: 40px;
}

.twitter p {
  font-size: 12px;
  line-height: 16px;
}

.work p {
  font-size: 13px;
  line-height: 17px;
  font-size: 3.1vw;
  line-height: 5vw;
  @media (min-width: 560px) {
    font-size: 17px;
    line-height:30px;
  }
  @media (min-width: 768px) {
    font-size: 1.6vw;
    line-height: 2.3vw;
  }
  @media (min-width: 1200px) {
    font-size: 19px;
  }

  @media (min-width: 1400px) {
    line-height: 35px;
  }
}

.blog h1,
.work h1,
.blog--featured h1 {
  font-family: $readable;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  margin-bottom: 40px;
}

.author-area .description p,
.author-area .description h1 {
  font-family: $primary-text-font;
  color: rgba(109, 109, 109, 0.8);
  font-size: 14px;
}

.author-area .description h1 {
  text-transform: uppercase;
  margin-top: 0;
}

.work h1 {
  margin-bottom: 20px;
  margin-top: 10px;
}

.copyright h1 {
  font-family: $primary-text-font;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  margin: 15px 0 10px;
}

.footer--nav a {
  color: black;
  text-transform: uppercase;
  font-family: $primary-text-font;
  font-size: 10px;
  list-style: inline;
  font-weight: 400;
  letter-spacing: 1px;
}

.footer--nav li {
  list-style: none;
  @media (min-width: 350px) {
    display: inline;
  }
}

.footer--nav a:hover {
  text-decoration: none;
}

.blog--header-frame h1,
.post-header--container .title-element h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
}

.header-bar p {
  width: 400px;
  margin: 10px auto 0;
  font-family: $readable;
  font-weight: 400;
  letter-spacing: -0.01em;
}

.blog-posts h1,
.blog-posts h2,
.blog-posts h3,
.blog-posts h4,
.blog-posts h5 {
  font-family: $primary-text-font;
  
  & a,
  & a:hover {
    color: black;
    text-decoration: none;
  }
}

.blog-posts h3 {
  text-transform: uppercase;
}

.blog-posts h4 {
  font-weight: 700;
}

.blog-posts p {
  font-family: $readable;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.58;
  //letter-spacing: -0.01em;
  margin-bottom: 15px;
  @media (min-width: 768px) {
    font-size: 21px;
  }
  @media (min-width: 992px){
    font-size: 21px;
  }
}

.blog-posts p a,
.author-area a,
.about .text a,
.twitter .tweet a {
  color: black;
  border-bottom: 1px solid rgba(49,49,49,0.5);
  &:visited {
    color: black;
    text-decoration: none;
  }
}

.author-area .description a {
  color: rgba(109, 109, 109, .8);
}

.blog-posts p a,
.author-area a,
.about .text a,
.twitter .tweet a {
  &:hover,
  &:active,
  &:focus {
    color: rgb(180,7,62);
    border-color: rgb(180,7,62);
    text-decoration: none;
    transition: all .2s;
  }
}

h1.posts-title,
a.blog-posts--title {
  color: black;
  font-family: $primary-text-font;
  text-decoration: none;
  font-size: 23px;
  font-weight: 700;
  margin-top: 0;
  letter-spacing: -.025em;
  &:hover {
    text-decoration: none;
  }
  @media (min-width: 768px) {
    font-size: 33px;
    font-weight: 700;
  }
}

a.footnote {
  font-size: 100%;
}

.footnotes {
  margin-top: 40px;
}

.footnotes p {
  line-height: 20px;
  font-size: 16px;
  color: rgb(118, 118, 118);
}
.footnotes ol {
 font-family: $primary-text-font;
 font-size: 12px;
 color: rgb(118, 118, 118);
}

.blog-posts .blog-posts--tags a {
  float: left;
  border: 2px solid black;
  padding: 3px 6px;
  font-family: $primary-nav-font;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.42857143;
  color: black;
  margin: 0 3px 0;
  &:nth-child(1) {
    margin-left: 0px;
  }
  &:last-child {
    margin-right: 0px;
  }
  &:visited {
    color: black;
  }
  &:hover {
    background-color: black;
    color: white;
    border-color: black;
    -webkit-transition: all 0.2s ease-in-out; 
    -moz-transition: all 0.2s ease-in-out; 
    -o-transition: all 0.2s ease-in-out; 
    transition: all 0.2s ease-in-out;
  }
}

@media (min-width: 768px) {
  .text p,
  .blog p,
  .twitter p,
  .blog--featured p {
    font-size: 19px;
    line-height: 35px;
  }

  .twitter p {
    font-size: 12px;
    line-height: 16px;
  }
}

.one-picture {
  p {
    font-family: $readable;
    font-weight: 400;
    font-size: 18px;
    color: white;
    @media (min-width: 450px){
      font-size: 20px;
    }
  }
  &>.inner>h1 {
    font-family: $primary-text-font;
    font-size: 50px;
    text-transform: uppercase;
    color: white;
    line-height: 0.7;
    @media (min-width: 768px){
      font-size: 100px;
    }
    @media (min-width: 992px){
      font-size: 150px;
    }
  }
  p,
  &>.inner>h1 {
    text-align: center;
    @media(min-width: 768px) {
      text-align: left;
    }
  }
  .photographer {
    line-height: 0;
    a {
      font-family: $primary-text-font;
      font-size: 10px;
      line-height: 0;
    }
  }
}

.contact_me {
  textarea {
    font-size: 17px;
    font-family: $readable;
  }
  input {
    font-size: 15px;
    font-family: $primary-nav-font;
    letter-spacing: 0.1em;
    @media(min-width: 772px) {
      font-size: 20px;
    }
  }
}

.blog-posts--content {
  h1,
  h1>a {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: -.025em;
    color: black;
    @media(min-width: 768px) {
      font-size: 33px;
    }
  }
  h2,
  h2>a {
    font-family: $primary-text-font;
    font-size: 19px;
    color: black;
    opacity: .44;
    @media (min-width:786px) {
      font-size: 28px;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    &>a:hover,
    &>a:visited,
    &>a:focus {
      text-decoration: none;
    }
  }
  ol {
    font-family: $primary-nav-font;
    font-size: 15px;
    @media(min-width: 768px){
      font-size: 19px;
    }
  }
  hr {
    border-top: 1px solid $main-color;
    width: 90%;
    margin: 5px auto 20px;
    @media(min-width: 768px){
      width: 700px;
    }
  }
  p>code {
    font-size: 70%;
  }
}
