/* 0.2 FONTS
   ========================================================================== */


.nav>li>a,
.dropdown a {
  font-size: 18px;
  text-transform: uppercase;
  color: black;
  font-family: $primary-nav-font;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 3px 6px;
  border: 2px solid white;
}

.nav>li>a:hover,
.nav>li>a:active,
.nav>li>a:visited,
.nav>li:active,
.nav .open>a, 
.nav .open>a:focus,
.nav .open>a:hover {
  background-color: rgba(255, 255, 255, 0.0);
}

.nav>li>a:hover,
.nav .open>a, 
.nav .open>a:focus,
.nav .open>a:hover {
  border-color: black;
  padding: 3px 6px;
  line-height: 20px;
  -webkit-transition: border-color 0.4s;
  -moz-transition: border-color 0.4s;
  transition: border-color 0.4s;
}

.dropdown-menu li a {
  border: none;
  padding: 5px 20px;
}

.dropdown-menu>li>a:hover {
  background-color: black;
  color: white;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.big-picture h1 {
  font-family: $primary-nav-font;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  color: white;
  display: table;
  margin: 0 auto;
  line-height: 30px;
}

.section-header h3,
.about > .section-header h3,
.blog h3,
h3.year-date,
p.timePosted,
.blog-posts h2,
.blog--featured h3 {
  font-family: $primary-nav-font;
  text-transform: uppercase;
  color: rgba(109, 109, 109, 0.8);
  font-size: 10px;
  margin: 40px 0 10px;
  @media (min-width: 768px) {
    font-size: 14px;
  }
}

h3.year-date {
  margin: 0 0 30px;
}

p.timePosted,
.blog-posts h2 {
  margin: 20px 0 0;
}

.blog-posts h2 {
  letter-spacing: 2px;
  @media (min-width: 768px) {
    letter-spacing: 4px;
  }
}

.section-header h3 {
  margin-left: 20px;
  margin-right: 20px;
}

.about h1,
.footer h1 {
  font-family: $quote-normal;
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  margin: 0;
}

.about-italic h1,
.footer-italic h1 {
  font-family: $quote-second;
  font-weight: normal;
  font-style: italic;
}

.footer h1 {
  color: white;
}

.text p,
.blog p,
.work p,
.twitter p,
.blog--featured p {
  font-family: $primary-text-font;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: 0.01em;
}

.blog p,
.blog--featured p {
  margin-bottom: 40px;
}

.twitter p {
  font-size: 12px;
  line-height: 16px;
}

.work p {
  font-size: 13px;
  line-height: 17px;
}

.blog h1,
.work h1,
.blog--featured h1 {
  font-family: 'CormorantMedium';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  margin-bottom: 40px;
}

.work h1 {
  margin-bottom: 20px;
}

.copyright h1 {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  margin: 15px 0 10px;
}

.footer--nav a {
  color: white;
  text-transform: uppercase;
  font-family: $primary-text-font;
  font-size: 15px;
  list-style: none;
  font-weight: 300;
}

.footer--nav li {
  padding: 5px 0;
}

.footer--nav a:hover {
  text-decoration: none;
}

.blog--header-frame h1,
.post-header--container .title-element h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
}

.header-bar .blog-quote h1,
.header-bar .blog-quote h2 {
  font-family: $quote-normal;
  color: white;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  @media (min-width: 768px) {
    width: 100%;
    margin: 0;
    text-align: left;
  }
}

.header-bar .blog-quote h1 {
  font-size: 25px;
  margin-bottom: 0;
}

.header-bar .blog-quote h2 {
  font-size: 15px;
  margin-top: 0;
}

.blog-posts h1,
.blog-posts h2,
.blog-posts h3,
.blog-posts h4,
.blog-posts h5,
.blog-posts h6 {
  font-family: $primary-text-font;
}

.blog-posts h3 {
  text-transform: uppercase;
}

.blog-posts h4 {
  font-weight: 700;
}

.blog-posts p {
  font-family: $quote-normal;
  font-size: 19px;
  line-height: 25px;
  @media (min-width: 768px) {
    font-size: 21px;
    line-height: 30px;
  }
  @media (min-width: 992px){
    font-size: 23px;
    line-height: 38px;
  }
}

.blog-posts p a,
.blog-posts p a:visited {
  color: rgb(199, 37, 78);
}

.blog-posts p a:hover,
.blog-posts p a:active {
  color: rgb(110, 110, 110);
  text-decoration: none;
}

h1.posts-title,
a.blog-posts--title {
  color: black;
  font-family: $primary-text-font;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
  &:hover {
    text-decoration: none;
    opacity: 0.7;
  }
  @media (min-width: 768px) {
    font-size: 50px;
    font-weight: 400;
  }
}

.blog-posts .blog-posts--tags a {
  float: left;
  border: 2px solid black;
  padding: 3px 6px;
  font-family: $primary-nav-font;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.42857143;
  color: black;
  margin: 0 3px 0;
  &:nth-child(1) {
    margin-left: 0px;
  }
  &:last-child {
    margin-right: 0px;
  }
  &:hover {
    background-color: black;
    color: white;
    -webkit-transition: all 0.2s ease-in-out; 
    -moz-transition: all 0.2s ease-in-out; 
    -o-transition: all 0.2s ease-in-out; 
    transition: all 0.2s ease-in-out;
  }
  &:visited {
    color: black;
  }
}

@media (min-width: 768px) {
  .big-picture h1 {
    margin: 0;
    line-height: 1.1;
  }

  .section-header h3 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .text p,
  .blog p,
  .work p,
  .twitter p,
  .blog--featured p {
    font-family: $primary-text-font;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.85);
    letter-spacing: 0.01em;
  }

  .twitter p {
    font-size: 12px;
    line-height: 16px;
  }

  .work p {
    font-size: 15px;
    line-height: 20px;
  }
}

@media (min-width: 992px) {
  .work p {
    font-size: 18px;
    line-height: 25px;
  }
}
