/**
 * Description: Short description.
 * Version: 0.0.1
 * Inital update: 2015/08/18
 * Last update: 2015/09/26
 * Author: bkroggel <mail@bastiankroggel.com>
 *
 * Summary:
 *
 *  0. GLOBAL
 *    - 0.0  VARIABLES
 *    - 0.1. BODY
 *    - 0.2. FONTS
 *    - 0.3. BUTTONS
 *  1. SINGLESCROLLING PAGE
 *    - 1.1. BIG PICTURE | HEADER
 *    - 1.1.1 PARADAISER
 *    - 1.2. ABOUT
 *    - 1.3. WORK
 *    - 1.4. BLOG
 *    - 1.5. TWITTER
 *    - 1.6. FOOTER
 *  
 */

/* ==========================================================================
   0. GLOBAL
   ========================================================================== */

 /* 0.0 VARIABLES
    ========================================================================== */

    $primary-nav-font: #{'Karla'};
    $primary-text-font: #{'Lato'};
    $readable: #{'Cormorant'};
    $main-color: #{rgb(170, 170, 170)}


























