.author-area {
margin-bottom: 100px;
padding: 20px 0;
border-top: 1px solid $main-color;
clear: both; 
}

.author-area img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.author-area .pic-rounded {
  width: 130px;
  height: 130px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 20px;
  @media (min-width: 768px) {
    float: left;
    margin:0 20px 0 0;
  }
}

.author-area .description {
  text-align: center;
  @media (min-width: 768px) {
    margin-left: 150px;
    text-align: left;
  }
}

// img black and white
img.grayscale {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}