
.header-bar {
  background: none;
  width: 100%;
  text-align: center;
  padding: 40px;
  height: 100%;
  min-height: 50px;
  margin-top: 75px;
  display: table;
  @media (min-width: 992px) {
    margin-top: 0px;
  }
}

.header-bar svg {
  width: 250px;
  fill: black;
}

// also used on index page
.row-eq-height,
.row-eq-height > div[class*='col-'] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex:1 1 auto;
  // margin: -.2px;
}

.row-eq-height {
  -webkit-flex-flow: row wrap;
  align-content: flex-start;
  flex:0;
}