.blog-posts {
  width: 60%;
  margin: 100px auto 100px;
}

pre {
  border-radius: 0;
  border: none;
  border-top: 1px solid rgba(54, 54, 54, 0.3);
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  background: none;
  padding: 20px;
  margin: 20px 0 20px;
}