.blog-posts {
  // width: 90%;
  margin: 0px auto 50px;
  @media (min-width: 992px) {
    margin-top: 100px; 
  }
}

.blog-posts p,
.blog-posts h1,
.blog-posts h2,
.blog-posts h3,
.blog-posts h4,
.blog-posts h5,
.blog-posts blockquote,
h1.posts-title,
.footnotes ol,
.highlight,
.author-area {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 768px) {
    width: 700px;
  }
}

.blog-posts--content {
  clear: both;
}

.blog-posts--tags {
  margin-bottom: 20px;
  overflow: auto;
}

pre {
  border-radius: 0;
  border: none;
  border-top: 1px solid rgba(54, 54, 54, 0.3);
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  background: none;
  padding: 20px;
  margin: 20px 0 20px;
}

/* Pictures */
.blog-posts--content {
  img {
    object-fit: cover;
    width: 100%;
  }
  .cover {
    width: 100%;
    margin: 0 auto 20px;
  }
  .cover img {
    @media (min-width: 768px) {
      height: 400px;
    }
    @media (min-width: 992px) {
      height: 600px;
    }
  }
  .img100 {
    @media(min-width: 768px) {
    width: 100%;
    }
  }
  .img100 img {
    object-fit: contain;
    margin: 10px 0 10px 0; 
    @media (min-width: 768px) {
      max-height: 400px;
    }
    @media (min-width: 992px) {
      max-height: 600px;
      margin: 20px 0 20px 0; 
    }
  }
  .left50 img,
  .left25 img,
  .right50 img,
  .right25 img {
    margin: 20px 0;
  }
  .left50 img {
    @media (min-width: 768px) {
      width: 50%;
      float: left;
      margin: 20px 30px 20px 0;
    }
    @media (min-width: 992px) {
      width: 70%;
      margin: 20px 30px 20px -20%;
      float: left;
    }
  }
  .right50 img {
    @media (min-width: 768px) {
      width: 50%;
      float: right;
      margin: 20px 0 20px 30px;
    }
    @media (min-width: 992px) {
      width: 70%;
      margin: 20px -20% 20px 30px;
      float: right;
    }
  }
  .left25 img {
    @media (min-width: 768px) {
      width: 40%;
      float: left;
      margin: 20px 30px 20px 0;
    }
    @media (min-width: 992px) {
      width: 45%;
      margin: 20px 30px 20px -20%;
      float: left;
    }
  }
  .right25 img {
    @media (min-width: 768px) {
      width: 40%;
      float: right;
      margin: 20px 0 20px 30px;
    }
    @media (min-width: 992px) {
      width: 45%;
      margin: 20px -20% 20px 30px;
      float: right;
    }
  }
}

.blog-posts--overview-content {
  .cover img {
    width: 100%;
    height: 150px;
    margin: 10px 0;
    @media (min-width: 768px) {
      height: 300px;
      margin: 20px 0;
    }
    @media (min-width: 992px) {
      height: 380px;
      margin: 20px 0;
    }
  }
}

//overview posts
.overview-posts {
  width: 100%;
  margin: 0px auto 70px;
  @media (min-width: 768px) {
      width: 700px;
    }
  &:first-of-type {
    margin-top: 50px;
    @media (min-width: 992px) {
      margin-top: 100px;
    }
  }
  .cover {
    width: 90%;
     @media (min-width: 768px) {
      width: 100%;
    }
  }
  p.cover {
    margin-bottom: 0px !important;
  }
  h1.posts-title {
    margin-bottom: 0px;
  }
}