/* 1.6 FOOTER
   ========================================================================== */

.footer {
  margin-top: 50px;
  position: relative;
  width: 100%;
  display: table;
}


.footer--main {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.footer-frame {
  margin: 5px 0 5px;
}

.icon-social {
  border-color: white;
  color: $main-color;
  opacity: 0.7;
  background: none;
  margin: 0 8px 20px;
  font-size: 18px;
}

.icon-social:last-of-type {
  margin: 0 0 20px 8px; 
}

.icon-social:first-of-type {
  margin: 0 8px 20px 0;
}

.icon-social:hover {
  color: $main-color;
  opacity: 1;
}

.footer--logo svg {
  fill: black;
  width: 150px;
  margin-bottom: 5px;
}

.footer--navigation {
  margin: 0 auto;
  width: 75%;
  border-top: 1px solid $main-color;
  @media(min-width: 768px){
    width: 40%;
  }
  @media(min-width: 992px){
    width: 30%;
  }
}

ul.footer--nav {
  padding: 5px 0 0;
  margin: 0 0 5px;
  color: black;
}

.copyright {
}

@media (min-width: 350px) {
  .footer--nav li {
    &:after {
      content: ' | ';
      font-weight: 100;
    }
  }
}

.footer--nav li:last-of-type:after {
  content: '';
}

@media (min-width: 768px) {
}
