/* 1.6 FOOTER
   ========================================================================== */

.footer {
  margin-top: 50px;
  position: relative;
  width: 100%;
  display: table;
}


.footer--main {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.footer-frame {
  margin: 5px 0 5px;
}

.icon-social {
  border-color: white;
  color: black;
  background: none;
  margin: 0 15px 20px;
  font-size: 23px;
}

.icon-social:last-of-type {
  margin: 0 0 20px 15px; 
}

.icon-social:first-of-type {
  margin: 0 15px 20px 0;
}

.icon-social:hover {
  color: $main-color;
}

.footer--logo svg {
  fill: black;
  width: 150px;
}

ul.footer--nav {
  padding: 0;
  margin: 0px 0 5px;
  color: black;
}

@media (min-width: 350px) {
  .footer--nav li {
    &:after {
      content: ' | ';
      font-weight: 100;
    }
  }
}

.footer--nav li:last-of-type:after {
  content: '';
}

@media (min-width: 768px) {
}
