/* 1.3. WORK
   ========================================================================== */

.work {
  margin-bottom: 0px;
}

.img-container {
   position: relative;
   width: 100%;
   height: 450px;
   overflow: hidden;
}

.inner-img-container {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   text-align:center;
   font: 0/0 a;
}

.img-container img {
   display: inline-block;
   min-height: 100%;
   min-width: 100%;
   width: 100%;
   padding: 0;
   margin: 0;
   object-fit: cover;
}

.overlay { 
  position:absolute; 
  width:100%; 
  height:100%; 
  top: 0; 
  left: 0; 
  display: none; 
  cursor:pointer; 
  text-align: center; 
  z-index: 10;
}

.img-container:hover .overlay { 
  display: block;
}

.img-container .overlay:hover { 
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease-in-out; 
  -moz-transition: all 0.3s ease-in-out; 
  -o-transition: all 0.3s ease-in-out; 
  transition: all 0.3s ease-in-out;
}

.paper-background {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
  text-align: center;
  margin: 60px;
  padding: 40px 20px;
  background-color: white;
  overflow: hidden;
  @media (min-width: 768px) {
    padding: 30px 35px 20px;
  }
  @media (min-width: 992px) {
    padding: 30px
  }
}

.overlay:hover .paper-background {
  -webkit-transition: all 0.6s ease-in-out; 
  -moz-transition: all 0.6s ease-in-out; 
  -o-transition: all 0.6s ease-in-out; 
  transition: all 0.6s ease-in-out;
  opacity: 1;
}




