<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <style>
    .one-picture {
      background: url("{{page.background-image.img}}") no-repeat center;
      background-size: cover;
    }
    @media(min-width:768px) {
      .one-picture {
        background: none;
      }
      .one-picture:before {
        background: url("{{page.background-image.img}}") no-repeat center;
        background-size: cover;
      }
    }
  </style>
  <div class="one-picture">
    <div class="inner">
      <h1>{{page.title}}</h1>
      {{content}}
      <div class="one-picture--btn-frame">
        {% for button in page.button %}<a href="{{button.link}}" class="btn btn-default btn-standart btn-see-through btn-one-picture">{{button.name}}</a>{% endfor %}
      </div>
    </div>

    <div class="ending">
      {% include footer.html %}
      <div class="photographer">
      <a href="{{page.background-image.url}}" target="_blank">picture by {{page.background-image.photographer}}</a>
      </div>
      {% include copyright.html %}
    </div>
  </div>
</body>
</html>